$fuente_pricipal : "Inter", sans-serif;
$fuente_emojis : "Noto Emoji", sans-serif;

// Colores
$black: #0F0F0F;
$white: #FFFFFF;
$graphite-gray: #2C2C2C;
$steel-blue: #3A5A78;
$Petroleum-Green: #2F4F4F;
$Golden-Yellow: #D4AF37;
$Copper: #B87333;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;